apiVersion: v1
kind: Service
metadata:
  name: dgi-netwatch-backend
  namespace: production
spec:
  type: ClusterIP
  ports:
  - port: 3001
    targetPort: 3001
  selector:
    app: dgi-netwatch-backend
