apiVersion: v1
kind: Service
metadata:
  name: dgi-netwatch-frontend-service
  namespace: production
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: dgi-netwatch-frontend
