name: Deploy to GKE

on:
  workflow_run:
    workflows: ["Build & Push Docker Images"]
    types:
      - completed

env:
  PROJECT_ID: dgi-cosmic-20251210-1542
  CLUSTER_NAME: dgi-cluster
  REGION: us-central1
  NAMESPACE: production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure kubectl
        run: |
          gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} --region=${{ env.REGION }} --project=${{ env.PROJECT_ID }}
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform
        run: |
          terraform init

      - name: Terraform Validate & Plan
        working-directory: terraform
        run: |
          terraform fmt -check || true
          terraform validate
          terraform plan -out=tfplan -input=false \
            -var="gcp_project_id=${{ env.PROJECT_ID }}" \
            -var="gcp_region=${{ env.REGION }}" \
            -var="gke_cluster_name=${{ env.CLUSTER_NAME }}"

      - name: Terraform Apply
        working-directory: terraform
        run: |
          terraform apply -input=false -auto-approve tfplan \
            -var="gcp_project_id=${{ env.PROJECT_ID }}" \
            -var="gcp_region=${{ env.REGION }}" \
            -var="gke_cluster_name=${{ env.CLUSTER_NAME }}"

      - name: Wait for frontend rollout
        run: |
          kubectl rollout status deployment/dgi-netwatch-frontend -n ${{ env.NAMESPACE }} --timeout=300s

      - name: Get LoadBalancer IP
        run: |
          echo "DGI-NetWatch déployé sur :"
          kubectl get svc dgi-netwatch-frontend-service -n ${{ env.NAMESPACE }} -o jsonpath='{.status.loadBalancer.ingress[0].ip}'
